
.opus-veneer-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.opus-veneer-page .div {
  background-color: #ffffff;
  height: 7182px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.opus-veneer-page .overlap {
  height: 2174px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1441px;
}

.opus-veneer-page .hero {
  height: 865px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.opus-veneer-page .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 115px;
  width: 1440px;
}

.opus-veneer-page .opus-logo-copy {
  height: 44px;
  left: 116px;
  position: absolute;
  top: 47px;
  width: 148px;
}

.opus-veneer-page .rectangle {
  background-color: #d4da46;
  border-radius: 5px;
  height: 49px;
  left: 1148px;
  position: absolute;
  top: 36px;
  width: 203px;
}

.opus-veneer-page .rectangle-2 {
  -webkit-backdrop-filter: blur(2px) brightness(100%);
  backdrop-filter: blur(2px) brightness(100%);
  background-color: #ffffff;
  border-radius: 38px;
  box-shadow: 0px 4px 50px #00000040;
  height: 623px;
  left: 838px;
  position: absolute;
  top: 181px;
  width: 507px;
}

.opus-veneer-page .rectangle-3 {
  background-color: #d4da46;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #00000040;
  height: 63px;
  left: 948px;
  position: absolute;
  top: 681px;
  width: 288px;
}

.opus-veneer-page .rectangle-4 {
  background-color: #fffffff2;
  border: 1px solid;
  border-color: #000000;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #00000040;
  height: 48px;
  left: 894px;
  position: absolute;
  top: 273px;
  width: 396px;
}

.opus-veneer-page .text-wrapper {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 896px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 236px;
}

.opus-veneer-page .rectangle-5 {
  background-color: #fffffff2;
  border: 1px solid;
  border-color: #000000;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #00000040;
  height: 48px;
  left: 894px;
  position: absolute;
  top: 376px;
  width: 396px;
}

.opus-veneer-page .text-wrapper-2 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 895px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 339px;
}

.opus-veneer-page .rectangle-6 {
  background-color: #fffffff2;
  border: 1px solid;
  border-color: #000000;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #00000040;
  height: 48px;
  left: 895px;
  position: absolute;
  top: 480px;
  width: 396px;
}

.opus-veneer-page .rectangle-7 {
  background-color: #fffffff2;
  border: 1px solid;
  border-color: #000000;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #00000040;
  height: 48px;
  left: 895px;
  position: absolute;
  top: 582px;
  width: 396px;
}

.opus-veneer-page .text-wrapper-3 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 895px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 445px;
}

.opus-veneer-page .text-wrapper-4 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 895px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 547px;
}

.opus-veneer-page .text-wrapper-5 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 1185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 45px;
}

.opus-veneer-page .text-wrapper-6 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 981px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 692px;
}

.opus-veneer-page .rectangle-8 {
  background-color: #d4da46e3;
  height: 742px;
  left: 0;
  position: absolute;
  top: 860px;
  width: 1441px;
}

.opus-veneer-page .transform-your-smile {
  color: #f5f5f5;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 48px;
  font-weight: 500;
  left: 78px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 4px 4px 4px #00000040;
  top: 339px;
  width: 660px;
}

.opus-veneer-page .p {
  color: #d4da46;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 4px 4px 4px #00000040;
  top: 518px;
  width: 660px;
}

.opus-veneer-page .rectangle-9 {
  background-color: #f5f5f5;
  border-radius: 10px 50px 10px 50px;
  box-shadow: 10px 10px 20px #00000040;
  height: 192px;
  left: 512px;
  position: absolute;
  top: 1048px;
  width: 251px;
}

.opus-veneer-page .rectangle-10 {
  background-color: #f5f5f5;
  border-radius: 10px 50px 10px 50px;
  box-shadow: 10px 10px 20px #00000040;
  height: 192px;
  left: 805px;
  position: absolute;
  top: 1048px;
  width: 251px;
}

.opus-veneer-page .rectangle-11 {
  background-color: #f5f5f5;
  border-radius: 10px 50px 10px 50px;
  box-shadow: 10px 10px 20px #00000040;
  height: 192px;
  left: 1098px;
  position: absolute;
  top: 1048px;
  width: 251px;
}

.opus-veneer-page .rectangle-12 {
  background-color: #f5f5f5;
  border-radius: 10px 50px 10px 50px;
  box-shadow: 10px 10px 20px #00000040;
  height: 192px;
  left: 512px;
  position: absolute;
  top: 1304px;
  width: 251px;
}

.opus-veneer-page .rectangle-13 {
  background-color: #f5f5f5;
  border-radius: 10px 50px 10px 50px;
  box-shadow: 10px 10px 20px #00000040;
  height: 192px;
  left: 805px;
  position: absolute;
  top: 1304px;
  width: 251px;
}

.opus-veneer-page .rectangle-14 {
  background-color: #f5f5f5;
  border-radius: 10px 50px 10px 50px;
  box-shadow: 10px 10px 20px #00000040;
  height: 192px;
  left: 1098px;
  position: absolute;
  top: 1304px;
  width: 251px;
}

.opus-veneer-page .text-wrapper-7 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 599px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1082px;
  width: 140px;
}

.opus-veneer-page .text-wrapper-8 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 540px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1156px;
  width: 199px;
}

.opus-veneer-page .text-wrapper-9 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 540px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1398px;
  width: 199px;
}

.opus-veneer-page .easily-accessible {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 838px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1418px;
  width: 199px;
}

.opus-veneer-page .text-wrapper-10 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1398px;
  width: 209px;
}

.opus-veneer-page .text-wrapper-11 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 835px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1156px;
  width: 199px;
}

.opus-veneer-page .text-wrapper-12 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1140px;
  width: 209px;
}

.opus-veneer-page .text-wrapper-13 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 892px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1079px;
  width: 148px;
}

.opus-veneer-page .text-wrapper-14 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 1186px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1079px;
  width: 142px;
}

.opus-veneer-page .painless-comfortable {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 599px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1333px;
  width: 144px;
}

.opus-veneer-page .two-convenient {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 892px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1331px;
  width: 145px;
}

.opus-veneer-page .certified-safe-ISO {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 1184px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1336px;
  width: 166px;
}

.opus-veneer-page .solar-diploma {
  height: 47px;
  left: 536px;
  position: absolute;
  top: 1079px;
  width: 47px;
}

.opus-veneer-page .group {
  height: 40px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 39px;
}

.opus-veneer-page .gg-smile-mouth-open {
  height: 47px;
  left: 830px;
  position: absolute;
  top: 1077px;
  width: 47px;
}

.opus-veneer-page .img {
  height: 39px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 39px;
}

.opus-veneer-page .mingcute-shield-fill {
  height: 47px;
  left: 1124px;
  position: absolute;
  top: 1332px;
  width: 47px;
}

.opus-veneer-page .group-2 {
  height: 42px;
  left: 6px;
  position: absolute;
  top: 4px;
  width: 35px;
}

.opus-veneer-page .mdi-hand-heart {
  height: 47px;
  left: 538px;
  position: absolute;
  top: 1333px;
  width: 47px;
}

.opus-veneer-page .streamline-ai {
  height: 47px;
  left: 1124px;
  position: absolute;
  top: 1073px;
  width: 47px;
}

.opus-veneer-page .mynaui-pin-solid {
  height: 47px;
  left: 830px;
  position: absolute;
  top: 1333px;
  width: 47px;
}

.opus-veneer-page .rectangle-15 {
  background-color: #232323;
  height: 550px;
  left: 1px;
  position: absolute;
  top: 1602px;
  width: 1440px;
}

.opus-veneer-page .rectangle-16 {
  background-color: #d4da46;
  border-radius: 33px;
  box-shadow: 10px 10px 30px #00000040;
  height: 389px;
  left: 945px;
  position: absolute;
  top: 1691px;
  width: 365px;
}

.opus-veneer-page .element {
  height: 603px;
  left: 947px;
  object-fit: cover;
  position: absolute;
  top: 1571px;
  width: 446px;
}

.opus-veneer-page .rectangle-17 {
  background-color: #ffffff;
  border-radius: 20px 4px 20px 20px;
  height: 303px;
  left: 804px;
  position: absolute;
  top: 1800px;
  width: 214px;
}

.opus-veneer-page .dr-burzin-khan-MDS {
  color: transparent;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 30px;
  font-weight: 500;
  left: 104px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 1723px;
  width: 385px;
}

.opus-veneer-page .span {
  color: #ffffff;
}

.opus-veneer-page .text-wrapper-15 {
  color: #d4da46;
}

.opus-veneer-page .text-wrapper-16 {
  color: #ffffff;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 137px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 1835px;
  width: 493px;
}

.opus-veneer-page .text-wrapper-17 {
  color: #ffffff;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 137px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 1877px;
  width: 493px;
}

.opus-veneer-page .text-wrapper-18 {
  color: #ffffff;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 137px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 1918px;
  width: 493px;
}

.opus-veneer-page .text-wrapper-19 {
  color: #ffffff;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 137px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 1959px;
  width: 493px;
}

.opus-veneer-page .i-believe-every {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 829px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 1826px;
  width: 162px;
}

.opus-veneer-page .ellipse {
  background-color: #d4da46;
  border-radius: 5px;
  height: 10px;
  left: 104px;
  position: absolute;
  top: 1849px;
  width: 10px;
}

.opus-veneer-page .ellipse-2 {
  background-color: #d4da46;
  border-radius: 5px;
  height: 10px;
  left: 104px;
  position: absolute;
  top: 1891px;
  width: 10px;
}

.opus-veneer-page .ellipse-3 {
  background-color: #d4da46;
  border-radius: 5px;
  height: 10px;
  left: 104px;
  position: absolute;
  top: 1933px;
  width: 10px;
}

.opus-veneer-page .ellipse-4 {
  background-color: #d4da46;
  border-radius: 5px;
  height: 10px;
  left: 104px;
  position: absolute;
  top: 1975px;
  width: 10px;
}

.opus-veneer-page .ADA-american-dental {
  height: 47px;
  left: 637px;
  object-fit: cover;
  position: absolute;
  top: 2065px;
  width: 149px;
}

.opus-veneer-page .images {
  height: 90px;
  left: 528px;
  object-fit: cover;
  position: absolute;
  top: 2037px;
  width: 90px;
}

.opus-veneer-page .dentist-recommended {
  height: 110px;
  left: 418px;
  position: absolute;
  top: 2027px;
  width: 108px;
}

.opus-veneer-page .opus-logo-copy-2 {
  height: 86px;
  left: 28px;
  position: absolute;
  top: 13px;
  width: 105px;
}

.opus-veneer-page .text-wrapper-20 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 48px;
  font-weight: 500;
  left: 516px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 920px;
  width: 439px;
}

.opus-veneer-page .text-wrapper-21 {
  color: #f5f5f5;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 44px;
  font-weight: 500;
  left: 99px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1644px;
  width: 483px;
}

.opus-veneer-page .happy {
  height: 618px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 984px;
  width: 707px;
}

.opus-veneer-page .overlap-group {
  background-color: #d4da46;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #00000040;
  height: 63px;
  left: 873px;
  position: absolute;
  top: 3504px;
  width: 288px;
}

.opus-veneer-page .text-wrapper-22 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
}

.opus-veneer-page .our-veneers-process {
  color: transparent;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 36px;
  font-weight: 500;
  left: 468px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 2212px;
  white-space: nowrap;
}

.opus-veneer-page .text-wrapper-23 {
  color: #000000;
}

.opus-veneer-page .overlap-2 {
  height: 27px;
  left: 601px;
  position: absolute;
  top: 2291px;
  width: 238px;
}

.opus-veneer-page .line-2 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 238px;
}

.opus-veneer-page .ellipse-5 {
  background: linear-gradient(
    180deg,
    rgba(35, 35, 35, 1) 0%,
    rgba(137, 137, 137, 1) 100%
  );
  border-radius: 14px / 13.5px;
  height: 27px;
  left: 103px;
  position: absolute;
  top: 0;
  width: 28px;
}

.opus-veneer-page .overlap-3 {
  height: 1287px;
  left: 123px;
  position: absolute;
  top: 2376px;
  width: 608px;
}

.opus-veneer-page .overlap-4 {
  height: 1287px;
  left: 0;
  position: absolute;
  top: 0;
  width: 608px;
}

.opus-veneer-page .line-3 {
  height: 697px;
  left: 593px;
  position: absolute;
  top: 0;
  width: 2px;
}

.opus-veneer-page .ellipse-6 {
  background: linear-gradient(
    180deg,
    rgba(35, 35, 35, 1) 0%,
    rgba(137, 137, 137, 1) 100%
  );
  border-radius: 14.5px;
  height: 29px;
  left: 579px;
  position: absolute;
  top: 25px;
  width: 29px;
}

.opus-veneer-page .ellipse-7 {
  background: linear-gradient(
    180deg,
    rgba(35, 35, 35, 1) 0%,
    rgba(137, 137, 137, 1) 100%
  );
  border-radius: 15px / 14px;
  height: 28px;
  left: 578px;
  position: absolute;
  top: 273px;
  width: 30px;
}

.opus-veneer-page .ellipse-8 {
  background: linear-gradient(
    180deg,
    rgba(35, 35, 35, 1) 0%,
    rgba(137, 137, 137, 1) 100%
  );
  border-radius: 15px / 14.5px;
  height: 29px;
  left: 578px;
  position: absolute;
  top: 541px;
  width: 30px;
}

.opus-veneer-page .vector {
  height: 371px;
  left: 399px;
  position: absolute;
  top: 696px;
  width: 196px;
}

.opus-veneer-page .benefit {
  height: 541px;
  left: 0;
  position: absolute;
  top: 746px;
  width: 460px;
}

.opus-veneer-page .div-wrapper {
  background-color: #d4da46;
  border-radius: 50px;
  box-shadow: 5px 5px 10px #00000040;
  height: 73px;
  left: 151px;
  position: absolute;
  top: 0;
  width: 386px;
}

.opus-veneer-page .text-wrapper-24 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 17px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
  width: 341px;
}

.opus-veneer-page .element-precision-prep-wrapper {
  background-color: #d4da46;
  border-radius: 50px;
  box-shadow: 5px 5px 10px #00000040;
  height: 73px;
  left: 151px;
  position: absolute;
  top: 519px;
  width: 386px;
}

.opus-veneer-page .element-precision-prep {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 25px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
  width: 342px;
}

.opus-veneer-page .overlap-5 {
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #00000040;
  height: 148px;
  left: 32px;
  position: absolute;
  top: 273px;
  width: 505px;
}

.opus-veneer-page .text-wrapper-25 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 136px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 24px;
  width: 333px;
}

.opus-veneer-page .gridicons-computer {
  height: 76px;
  left: 33px;
  position: absolute;
  top: 34px;
  width: 76px;
}

.opus-veneer-page .element-smile-design-wrapper {
  background-color: #d4da46;
  border-radius: 50px;
  box-shadow: 5px 5px 10px #00000040;
  height: 73px;
  left: 775px;
  position: absolute;
  top: 2624px;
  width: 386px;
}

.opus-veneer-page .element-smile-design {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 31px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
  width: 342px;
}

.opus-veneer-page .overlap-6 {
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #00000040;
  height: 164px;
  left: 775px;
  position: absolute;
  top: 2398px;
  width: 513px;
}

.opus-veneer-page .text-wrapper-26 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 154px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 23px;
  width: 321px;
}

.opus-veneer-page .uil-calender {
  height: 76px;
  left: 43px;
  position: absolute;
  top: 39px;
  width: 76px;
}

.opus-veneer-page .overlap-7 {
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #00000040;
  height: 164px;
  left: 775px;
  position: absolute;
  top: 2928px;
  width: 524px;
}

.opus-veneer-page .text-wrapper-27 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 154px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 23px;
  width: 337px;
}

.opus-veneer-page .mdi-tooth-outline {
  height: 76px;
  left: 43px;
  position: absolute;
  top: 46px;
  width: 76px;
}

.opus-veneer-page .text-wrapper-28 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 775px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  top: 3201px;
  width: 576px;
}

.opus-veneer-page .text-wrapper-29 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 775px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  top: 3352px;
  width: 535px;
}

.opus-veneer-page .overlap-group-2 {
  height: 1062px;
  left: 0;
  position: absolute;
  top: 3740px;
  width: 1440px;
}

.opus-veneer-page .rectangle-18 {
  background-color: #d4da46;
  border-radius: 0px 50px 0px 0px;
  height: 673px;
  left: 474px;
  opacity: 0.5;
  position: absolute;
  top: 2px;
  width: 438px;
}

.opus-veneer-page .rectangle-19 {
  background-color: #d4da46;
  border-radius: 0px 50px 0px 0px;
  height: 673px;
  left: 331px;
  position: absolute;
  top: 0;
  width: 438px;
}

.opus-veneer-page .rectangle-20 {
  background-color: #232323;
  border-radius: 0px 40px 0px 0px;
  height: 673px;
  left: 0;
  position: absolute;
  top: 0;
  width: 597px;
}

.opus-veneer-page .rectangle-21 {
  background-color: #232323;
  height: 974px;
  left: 0;
  position: absolute;
  top: 88px;
  width: 1440px;
}

.opus-veneer-page .ellipse-9 {
  background-color: #fffffff2;
  border-radius: 42.5px;
  height: 85px;
  left: 353px;
  position: absolute;
  top: 168px;
  width: 85px;
}

.opus-veneer-page .fa-solid-arrow-up {
  height: 85px;
  left: 352px;
  position: absolute;
  top: 168px;
  width: 86px;
}

.opus-veneer-page .side-view-smiley {
  height: 627px;
  left: 44px;
  position: absolute;
  top: 149px;
  width: 418px;
}

.opus-veneer-page .front-view-smiley {
  height: 379px;
  left: 501px;
  position: absolute;
  top: 149px;
  width: 412px;
}

.opus-veneer-page .young-beautiful {
  height: 379px;
  left: 959px;
  position: absolute;
  top: 149px;
  width: 436px;
}

.opus-veneer-page .positive-bearded-man {
  height: 213px;
  left: 501px;
  position: absolute;
  top: 563px;
  width: 364px;
}

.opus-veneer-page .ellipse-10 {
  background-color: #fffffff2;
  border-radius: 32px;
  height: 64px;
  left: 834px;
  position: absolute;
  top: 443px;
  width: 64px;
}

.opus-veneer-page .close-up-girl-with {
  height: 213px;
  left: 938px;
  position: absolute;
  top: 801px;
  width: 458px;
}

.opus-veneer-page .ellipse-11 {
  background-color: #fffffff2;
  border-radius: 32px;
  height: 64px;
  left: 956px;
  position: absolute;
  top: 936px;
  width: 64px;
}

.opus-veneer-page .fa-solid-arrow-up-2 {
  height: 64px;
  left: 833px;
  position: absolute;
  top: 443px;
  width: 65px;
}

.opus-veneer-page .fa-solid-arrow-up-3 {
  height: 64px;
  left: 955px;
  position: absolute;
  top: 936px;
  width: 65px;
}

.opus-veneer-page .ellipse-12 {
  background-color: #fffffff2;
  border-radius: 32px;
  height: 64px;
  left: 1313px;
  position: absolute;
  top: 445px;
  width: 64px;
}

.opus-veneer-page .fa-solid-arrow-up-4 {
  height: 64px;
  left: 1312px;
  position: absolute;
  top: 445px;
  width: 65px;
}

.opus-veneer-page .ellipse-13 {
  background-color: #fffffff2;
  border-radius: 31.5px;
  height: 63px;
  left: 792px;
  position: absolute;
  top: 701px;
  width: 63px;
}

.opus-veneer-page .fa-solid-arrow-up-5 {
  height: 63px;
  left: 791px;
  position: absolute;
  top: 701px;
  width: 64px;
}

.opus-veneer-page .text-wrapper-30 {
  color: #ffffff;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 48px;
  font-weight: 500;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
}

.opus-veneer-page .text-wrapper-31 {
  color: #ffffff;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 813px;
  width: 776px;
}

.opus-veneer-page .rectangle-22 {
  background-color: #d4da46;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #00000040;
  height: 72px;
  left: 602px;
  position: absolute;
  top: 936px;
  width: 303px;
}

.opus-veneer-page .text-wrapper-32 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 597px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 950px;
  width: 312px;
}

.opus-veneer-page .text-wrapper-33 {
  color: #d4da46;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 957px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 590px;
  width: 430px;
}

.opus-veneer-page .overlap-8 {
  height: 497px;
  left: 980px;
  position: absolute;
  top: 4961px;
  width: 460px;
}

.opus-veneer-page .ooui-quotes-rtl {
  height: 189px;
  left: 272px;
  position: absolute;
  top: 308px;
  width: 188px;
}

.opus-veneer-page .rectangle-23 {
  background-color: #d9d9d9;
  border-radius: 20px;
  height: 255px;
  left: 0;
  position: absolute;
  top: 109px;
  width: 393px;
}

.opus-veneer-page .text-wrapper-34 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 221px;
  width: 302px;
}

.opus-veneer-page .tabler-star-filled {
  height: 24px;
  left: 46px;
  position: absolute;
  top: 179px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-2 {
  height: 24px;
  left: 96px;
  position: absolute;
  top: 179px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-3 {
  height: 24px;
  left: 72px;
  position: absolute;
  top: 179px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-4 {
  height: 24px;
  left: 122px;
  position: absolute;
  top: 179px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-5 {
  height: 24px;
  left: 145px;
  position: absolute;
  top: 179px;
  width: 24px;
}

.opus-veneer-page .text-wrapper-35 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 268px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 130px;
  width: 115px;
}

.opus-veneer-page .img-2 {
  height: 155px;
  left: 23px;
  position: absolute;
  top: 0;
  width: 134px;
}

.opus-veneer-page .overlap-9 {
  height: 494px;
  left: 12px;
  position: absolute;
  top: 4833px;
  width: 461px;
}

.opus-veneer-page .ooui-quotes-ltr {
  height: 193px;
  left: 0;
  position: absolute;
  top: 0;
  width: 193px;
}

.opus-veneer-page .rectangle-24 {
  background-color: #d9d9d9;
  border-radius: 20px;
  height: 255px;
  left: 68px;
  position: absolute;
  top: 239px;
  width: 393px;
}

.opus-veneer-page .medium-shot-smiley {
  height: 136px;
  left: 99px;
  position: absolute;
  top: 153px;
  width: 142px;
}

.opus-veneer-page .text-wrapper-36 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 351px;
  width: 302px;
}

.opus-veneer-page .text-wrapper-37 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 369px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 264px;
  width: 92px;
}

.opus-veneer-page .tabler-star-filled-6 {
  height: 24px;
  left: 114px;
  position: absolute;
  top: 309px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-7 {
  height: 24px;
  left: 164px;
  position: absolute;
  top: 309px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-8 {
  height: 24px;
  left: 140px;
  position: absolute;
  top: 309px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-9 {
  height: 24px;
  left: 190px;
  position: absolute;
  top: 309px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-10 {
  height: 24px;
  left: 213px;
  position: absolute;
  top: 309px;
  width: 24px;
}

.opus-veneer-page .overlap-10 {
  height: 355px;
  left: 529px;
  position: absolute;
  top: 4972px;
  width: 393px;
}

.opus-veneer-page .rectangle-25 {
  background-color: #d9d9d9;
  border-radius: 20px;
  height: 255px;
  left: 0;
  position: absolute;
  top: 100px;
  width: 393px;
}

.opus-veneer-page .text-wrapper-38 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 212px;
  width: 302px;
}

.opus-veneer-page .tabler-star-filled-11 {
  height: 24px;
  left: 46px;
  position: absolute;
  top: 170px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-12 {
  height: 24px;
  left: 96px;
  position: absolute;
  top: 170px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-13 {
  height: 24px;
  left: 72px;
  position: absolute;
  top: 170px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-14 {
  height: 24px;
  left: 122px;
  position: absolute;
  top: 170px;
  width: 24px;
}

.opus-veneer-page .tabler-star-filled-15 {
  height: 24px;
  left: 145px;
  position: absolute;
  top: 170px;
  width: 24px;
}

.opus-veneer-page .text-wrapper-39 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 320px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 119px;
}

.opus-veneer-page .img-3 {
  height: 148px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 153px;
}

.opus-veneer-page .overlap-11 {
  background-color: #232323;
  border-radius: 10px;
  height: 109px;
  left: 173px;
  position: absolute;
  top: 5549px;
  width: 1066px;
}

.opus-veneer-page .text-wrapper-40 {
  color: #ffffff;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 154px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 37px;
}

.opus-veneer-page .majesticons-plus-wrapper {
  background-image: url(./tdesign-plus.svg);
  background-size: 100% 100%;
  height: 80px;
  left: 30px;
  position: absolute;
  top: 16px;
  width: 80px;
}

.opus-veneer-page .majesticons-plus {
  height: 24px;
  left: 28px;
  position: absolute;
  top: 34px;
  width: 24px;
}

.opus-veneer-page .overlap-12 {
  background-color: #232323;
  border-radius: 10px;
  height: 224px;
  left: 173px;
  position: absolute;
  top: 5667px;
  width: 1066px;
}

.opus-veneer-page .text-wrapper-41 {
  color: #ffffff;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 154px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
}

.opus-veneer-page .text-wrapper-42 {
  color: #ffffff;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 154px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 95px;
  width: 803px;
}

.opus-veneer-page .tdesign-minus {
  height: 65px;
  left: 39px;
  position: absolute;
  top: 21px;
  width: 65px;
}

.opus-veneer-page .overlap-13 {
  background-color: #232323;
  border-radius: 10px;
  height: 109px;
  left: 173px;
  position: absolute;
  top: 5902px;
  width: 1066px;
}

.opus-veneer-page .tdesign-plus {
  height: 80px;
  left: 30px;
  position: absolute;
  top: 16px;
  width: 80px;
}

.opus-veneer-page .overlap-14 {
  background-color: #232323;
  border-radius: 10px;
  height: 109px;
  left: 173px;
  position: absolute;
  top: 6020px;
  width: 1066px;
}

.opus-veneer-page .overlap-15 {
  background-color: #232323;
  border-radius: 10px;
  height: 109px;
  left: 173px;
  position: absolute;
  top: 6138px;
  width: 1066px;
}

.opus-veneer-page .overlap-16 {
  background-color: #232323;
  border-radius: 10px;
  height: 109px;
  left: 173px;
  position: absolute;
  top: 6256px;
  width: 1066px;
}

.opus-veneer-page .overlap-17 {
  background-color: #232323;
  border-radius: 10px;
  height: 109px;
  left: 173px;
  position: absolute;
  top: 6374px;
  width: 1066px;
}

.opus-veneer-page .overlap-18 {
  height: 643px;
  left: -3px;
  position: absolute;
  top: 6539px;
  width: 1445px;
}

.opus-veneer-page .firefly-generate-a {
  height: 640px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 1440px;
}

.opus-veneer-page .rectangle-26 {
  background-color: #232323ed;
  height: 643px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1445px;
}

.opus-veneer-page .rectangle-27 {
  -webkit-backdrop-filter: blur(2px) brightness(100%);
  backdrop-filter: blur(2px) brightness(100%);
  background-color: #ffffff;
  border-radius: 38px;
  box-shadow: 0px 4px 50px #00000040;
  height: 568px;
  left: 108px;
  position: absolute;
  top: 32px;
  width: 462px;
}

.opus-veneer-page .rectangle-28 {
  background-color: #d4da46;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #00000040;
  height: 57px;
  left: 208px;
  position: absolute;
  top: 488px;
  width: 262px;
}

.opus-veneer-page .rectangle-29 {
  background-color: #fffffff2;
  border: 1px solid;
  border-color: #000000;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #00000040;
  height: 44px;
  left: 159px;
  position: absolute;
  top: 116px;
  width: 361px;
}

.opus-veneer-page .text-wrapper-43 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 161px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 82px;
  width: 98px;
}

.opus-veneer-page .rectangle-30 {
  background-color: #fffffff2;
  border: 1px solid;
  border-color: #000000;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #00000040;
  height: 44px;
  left: 159px;
  position: absolute;
  top: 210px;
  width: 361px;
}

.opus-veneer-page .text-wrapper-44 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 160px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 176px;
  width: 93px;
}

.opus-veneer-page .rectangle-31 {
  background-color: #fffffff2;
  border: 1px solid;
  border-color: #000000;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #00000040;
  height: 44px;
  left: 160px;
  position: absolute;
  top: 304px;
  width: 361px;
}

.opus-veneer-page .rectangle-32 {
  background-color: #fffffff2;
  border: 1px solid;
  border-color: #000000;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #00000040;
  height: 44px;
  left: 160px;
  position: absolute;
  top: 397px;
  width: 361px;
}

.opus-veneer-page .text-wrapper-45 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 160px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 273px;
  width: 73px;
}

.opus-veneer-page .text-wrapper-46 {
  color: #000000;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 160px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 366px;
  width: 120px;
}

.opus-veneer-page .text-wrapper-47 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 238px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 497px;
  width: 201px;
}

.opus-veneer-page .ready-for-your-dream {
  color: transparent;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 48px;
  font-weight: 500;
  left: 759px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 159px;
  width: 555px;
}

.opus-veneer-page .text-wrapper-48 {
  color: #ffffff;
  font-family: "Oswald-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 759px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 333px;
  width: 555px;
}

.opus-veneer-page .text-wrapper-49 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 506px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5434px;
}

.opus-veneer-page .text-wrapper-50 {
  color: #000000;
  font-family: "Oswald-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 564px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4849px;
}